header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #00277e;
    font-weight: bold;
}

.header-nav-list{
    display: flex;
    list-style: none;
}

.header-nav-list-item{
    margin-right: 20px;
}

.content{
    margin-top: 20px;
}


.content-img {
    margin: 0 0 0 auto;
    width: 50vw;
    height: auto;
    z-index: 10;
    display: block;
}

.content-ttl{
    position: relative;
    top: -125px;
    z-index: -1;
}

.content-ttl-text{
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

.content-ttl-box{
    background-color: #00277e;
    width: 70vw;
    height: 100px;
}

